www/xml/DTD/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="qualified">

    <!-- Defining corresponding Schema definition -->
    <xsd:element name="note" type="NoteType"/>
    <!-- Defining note: root element type -->
    <xsd:complexType name="NoteType">
            <!-- Using optional sequence (order indicator)
                Which checks the element sequence is mathced or not on XML and XSD 
            -->
            <xsd:sequence>
            <!-- Defining Elements -->
                <xsd:element name="to" type="xsd:string" maxOccurs="unbounded"/>
                <xsd:element name="from" type="xsd:string" />
                <xsd:element name="heading" type="xsd:string" />
                <xsd:element name="body" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
</xsd:schema>